body{
     margin:0;
    }
header{
     background: #3498db;
     height: 360px;
     padding: 50px 0;
     
    }
    
    
    div.menu ul{
    display: inline-table;
    text-align: center;
    margin-right: 30px;
    
    
    }
    
    ul{
        list-style-type: none;
    }
    a.inf{
    background: #ffffff;
    text-decoration: none;
    width: 90px;
    height:90px;
    border-radius: 60px;
    line-height: 90px;
    
    }
    
    .inf:hover{
    background: #474e5d;
    width:90px;
    height:90px;
    border-radius: 60px;
    line-height:90px;
    }
    
    .fol{
    background: #ffffff;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    text-decoration: none;
    }
    .fol:hover{
    background: #474e5d;
    }
    
    .knt:hover{
    background: #474e5d;
    }
    
    .knt{
    background: #ffffff;
    width: 90px;
    height: 90px;
    border-radius: 66px;
    text-decoration: none;
    }
    
.srodkowanie{
     width:800px;
     margin: 0 auto;
     text-align: center;
    }
.fota{
     width:100px;
     height:100px;
    }
p{
     font-size: 17px;
     font-family: arial;
     color: #ffffff;
     width: 445px;
     text-align: center;
     padding:10px 170px;
  }
h1{
     font-family: arial;
     color: #ffffff;
     text-align: center;
     font-size: 22px;
    }
    
section{
     background: #474e5d;
     height: 250px;
     padding: 200px 100px;
     
}   
section.div img {
    vertical-align: central;
    display: inline;
    padding: 3px;
    
}
 
footer{
    background:#1abc9c;
    text-align: center;
    font-family: arial;
    color: #ffffff;
    font-size: 10px;
    height: 30px;
    padding: 30px;
    line-height: 60px;
    font-weight: bold;
    
}
.portfolio{
    font-weight: bold;
}
div.linki a{
    color:#ffffff;      
}
div.linki a{
   margin-left: 2px; 
   display: inline-table;
}

img.lap {
    border: 2px solid beige;
}

img.szklanka{
    border: 2px solid beige;
}

img.czapa{
    border: 2px solid beige;
}

