/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-07-01, 11:58:06
    Author     : Ninja
*/

body{ 
margin: 0;
}
a.mojeLogo{
    font-size: 17px;
    color: #ffffff; 
    font-family: arial;
    margin: 550px;
    text-align: center;
    font-weight: bold;
}    
header{
    background-color: #3498db;
    height: 400px;
    padding: 150px;
    }

div.fota{
    width: 100px;
}
div.srodkowanie{
    width: 1000px;
    margin: 100px auto;
}
div.blokcenter{
    padding: 550px 550px;
}


footer{
    background:#1abc9c;
    text-align: center;
    font-weight: bold;
}

